$accent: #dd0031;
$main: #ccc;

.card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,auto);
  grid-template-areas:
    "icon icon temperature temperature"
    "lowtemp lowtemp hightemp hightemp"
    "description description description description";
}
.card .temp {
  grid-area: temperature;
  p {
    margin: 0;
  }
  .big {
    font-size: 2em;
    color: $main;
    font-weight: bold;
  }
}
.card .icon {
  grid-area: icon;
}
.card .description {
  grid-area: description;
  h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: $accent;
  }
}

